body {
  background-color: rgb(56, 56, 56);
}
h1,
h2,
h3 {
  color: rgb(50, 42, 165);
  background-color: rgb(139, 139, 139);
  font-size: 40px;
  text-align: center;
}

ul li p {
  background-color: red;
  border-radius: 90px;
  padding: 6px;
}
li > p:hover {
  background-color: darkgreen;
}
div > ul {
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
}
div > ul li {
  text-align: center;
}
li,
li p {
  padding: 6px;
}
div {
  width: 100%;
  background-color: rgb(127, 121, 129, 0.5);
}
p {
  background-color: rgb(105, 0, 0);
  color: white;
  font-size: 20px;
}
